body {
    margin: 0
}

header {
    background-color: rgb(10, 41, 92);
    text-align: center;
    margin: 0;
    padding: 5%;
    position: relative    
}

h1 {
    font-size: 60px;
    color: rgb(250, 252, 155);
    font-family: 'Caveat', cursive;
}

.menunav {
    position: absolute;
    bottom: 0;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

li {
    list-style-type: none;
    display: inline;
    justify-content: center;
}

li a {
    font-family: 'Itim', cursive;
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-align: center;
}

.introduction {
    font-family: 'Itim', cursive;
    text-align: center;
    display: wrap;
    width: 650px;
    margin: auto;
    border-style: dashed;
    padding: 10px;
}